{% load static %}
<!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">شیرآلات ارغوان</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            مشهد-بزرگراه پیامبراعظم-پیامبراعظم۷۳-آزادی ۱۲۷/۶-پلاک۲۲
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:">۰۵۱-۳۶۵۱۲۹۷۷</a>
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:09155187155">۰۹۱۵۵۱۸۷۱۵۵</a>
                        </li>
                        
                    </ul>
                </div>

                <div class="col-md-4 pt-5" >
                    <h2 class="h2 text-light border-bottom pb-3 border-light">محصولات</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">شیک</a></li>
                        <li><a class="text-decoration-none" href="#">مدرن</a></li>
                        <li><a class="text-decoration-none" href="#">کلاسیک</a></li>
                        <li><a class="text-decoration-none" href="#"></a></li>
                        <li><a class="text-decoration-none" href="#">انواع سلایق</a></li>
                        <li><a class="text-decoration-none" href="#">آپارتمانی</a></li>
                        <li><a class="text-decoration-none" href="#">ویلایی</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">اطلاعات سایت</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">خانه</a></li>
                        <li><a class="text-decoration-none" href="#">محصولات </a></li>
                        <li><a class="text-decoration-none" href="#">محصولات جدید</a></li>
                        <li><a class="text-decoration-none" href="#">دسته بندی</a></li>
                        <li><a class="text-decoration-none" href="#">فروشگاه</a></li>
                        <li><a class="text-decoration-none" href="#">ارتباط</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4" style="direction: ltr !important">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-telegram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-auto">
                    <img style="height:70px; width:350px" src="{% static 'img/logo.jpg' %}">
                </div>
            </div>
        </div>

        

    </footer>