{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block meta_description %}
شرکت تولید کننده و فروش شیرآلات ارغوان در مشهد دارای جواز کسب و پروانه تولید از وزارت صنعت و معدن کشور
دفتر نمایندگی واقع در بلوار پیامبر اعظم انواع شیرآلات ساختمانی و صنعتی همراه 
ضمانت نامه تعویض و تعمیر خدمات ۲۴ ساعت تحویل مدام و سریع به تمام نقاط استان
{% endblock meta_description %}

{% block meta_keywords %} 
,ارغوان مشهد,شیرآلات در مشهد,مشهد ارغوان,شیرآلات مشهد,ارغوان مشهد,شیرآلات ارغوان,ارغوان,شیرآلات,
{% endblock %}


{% block title %} فروشگاه {% endblock %}

{% block body %}
    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>درباره شیرآلات ارغوان</h1>
                    <p style="text-align:justify">
                        شرکت تولید کننده و فروش شیرآلات ارغوان در مشهد دارای جواز کسب و پروانه تولید از وزارت صنعت و معدن کشور
                        دفتر نمایندگی واقع در بلوار پیامبر اعظم انواع شیرآلات ساختمانی و صنعتی همراه 
                    ضمانت نامه تعویض و تعمیر خدمات ۲۴ ساعت تحویل مدام و سریع به تمام نقاط استان

                    </p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/about-hero.svg' %}" alt="About Hero">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

    <!-- Start Section -->
    <section class="container py-5">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">خدمات ما </h1>
                <p>
                    انواع شیرآلات صنعتی و ساختمانی مدرن و کلاسیک 
                </p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                    <h2 class="h5 mt-4 text-center">سرویس تحویل</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                    <h2 class="h5 mt-4 text-center">تعویض و تعمیر</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                    <h2 class="h5 mt-4 text-center">همراه تخفیف</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                    <h2 class="h5 mt-4 text-center">خدمات ۲۴ ساعت</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">برند ما</h1>
                    <p>
                        هدف ما جلب رضایت مشتریان خود با انواع سلیقه های مختلف شیک و مدرن و کلاسیک خدمات برتر رفاه مشتریان
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            {% for img in images %}
                                                <div class="col-3 p-md-5">
                                                    <a href="#"><img style="height:80px;" class="img-fluid brand-img" src="{{ img.image.url }}" alt="Brand Logo"></a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!--End First slide-->
                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->

    {{ map|safe }}
{% endblock %}